
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 180, 219, 0.9), rgba(0, 131, 176, 0.34)), url(background_images/laptop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.header__logo {
  
  height: 12rem;
 
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.heading-primary {
  color: white;
  backface-visibility: hidden;
  margin-bottom: 5rem;
  
}

.heading-primary--main {
  display: block;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2.5rem;
  
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.heading-main--sub {
  font-family: "Old Standard TT";
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
 
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease;
}


@keyframes moveInLeft {
  0%{
      opacity: 0;
      transform: translateX(-15rem);
  }
  70% {
      transform: translateX(2rem);
  }
  
  100% {
      opacity: 100;
      transform: translateX(0);
  }
}

@keyframes moveInRight {
   0%{
      opacity: 0;
      transform: translateX(15rem);
  }
  70% {
      transform: translateX(-2rem);
  }
  
  100% {
      opacity: 100;
      transform: translateX(0);
  }
}

@keyframes moveInBottom {
   0%{
      opacity: 0;
      transform: translateY(2rem);
  }
    
  100% {
      opacity: 100;
      transform: translateY(0);
  }
}

.btn:link, .btn:visited {
  font-family: "HelveticaLTStd-Roman", Arial, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4.5rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn--white::after {
  background: white;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom .5s ease .75s;
  animation-fill-mode: backwards;
}
